@charset "UTF-8";

:root{
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e; 
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor0);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a.ext::after{
    content: "\1F517";
}
header{
    background: linear-gradient(var(--cor3),var(--cor5));
    height: 154px;
    padding-top: 40px;
    color: white;
    text-align: center;
}
@font-face {
    font-family: bebas;
    src: url(../fontes/BebasNeue-Regular.otf) format('opentype');
}
header>h1{
    font-family: bebas, Arial, sans-serif;
    font-size: 3em;
    font-weight: normal;
    text-transform: uppercase;
    font-stretch: condensed;
    text-shadow: 2px 2px 0px #00000032;
    margin-bottom: 20px;
}
header>p{
    max-width: 500px;
    margin: auto;
    padding: 0 10px 30px;
    font-size: 1.2em;
    text-shadow: 2px 2px 0px #00000032;
}
nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0 7px 7px #00000021;
}
nav>a{
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    transition-duration: .2s;
}
nav>a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}
main{
    background-color: white;
    max-width: 800px;
    min-width: 280px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 0 0 8px 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.499);
}
@font-face {
    font-family: idroid;
    src: url(../fontes/idroid.otf);
}
main h1{
    color: var(--cor5);
    font-family: idroid, Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 1.8em;
}
main h2{
    background: linear-gradient(to right,var(--cor1),transparent);
    font-family: idroid, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    font-weight: normal;
    color: var(--cor4);
    text-indent: 8px;
}
main p{
    margin: 15px 0;
    text-indent: 30px;
    text-align: justify;
    line-height: 2em;
}
main strong{
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 6px;
}
main a{
    text-decoration: none;
    background-color: var(--cor1);
    color: var(--cor5);
    font-weight: bold;
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor4);
    
}
main img{
    width: 100%;
}
main img.pq{
    max-width: 350px;
    display: block;
    margin: auto;
}
main .video{
    background-color: var(--cor5);
    margin: 0 -20px 30px;
    padding: 12px;
    padding-bottom: 58%;
    position: relative;
}
main .video>iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #00000032;
}
aside>h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0 0;
}
aside>p{
    margin: 16px 0;
}
aside>ul{
    list-style-position: inside;
    list-style-type: "\2714\00A0\00A0";
    columns: 2;
}
ul abbr{
    text-decoration: underline;
}
footer{
    background-color: var(--cor5);
    padding: 5px;
    color: white;
    text-align: center;
    font-size: .8em;
}
footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}